1.在系统中有service这个命令时：
这个命令在red hat当中常用,有的linux发行版本中没有这个命令.
$ service crond start //启动服务
$ service crond stop //关闭服务
$ service crond restart //重启服务

2.linux发行版本没有service这个命令时：
/etc/init.d/cron stop
/etc/init.d/cron start



3.添加任务

crontab -e
#*/10 * * * * /opt/wwxiu/elasticsearch/elasticsearch-jdbc-master/elasticimport/elastic_imp_all.sh >> /opt/wwxiu/elasticsearch/elasticsearch-jdbc-master/elasticimport/logs/crontab.log



*　　*　　*　　*　　*　　command 
分　时　日　月　周　命令 
第1列表示分钟1～59 每分钟用*或者 */1表示 
第2列表示小时1～23（0表示0点） 
第3列表示日期1～31 
第4列表示月份1～12 
第5列标识号星期0～6（0表示星期天） 