1.在系统中有service这个命令时：
这个命令在red hat当中常用,有的linux发行版本中没有这个命令.
$ service crond start //启动服务
$ service crond stop //关闭服务
$ service crond restart //重启服务

2.linux发行版本没有service这个命令时：
/etc/init.d/cron stop
/etc/init.d/cron start



3.添加任务

crontab -e
#*/10 * * * * /opt/wwxiu/elasticsearch/elasticsearch-jdbc-master/elasticimport/elastic_imp_all.sh >> /opt/wwxiu/elasticsearch/elasticsearch-jdbc-master/elasticimport/logs/crontab.log